[data-text="white"]{
	color: white;
}

[data-bg-color="black"]{background-color: black;}
[data-bg-color="grey"]{background-color: grey;}
[data-bg-color="blue"]{background-color: blue;}

.fontLarge{
	font-size: 20px;
}