[data-text="white"]{
	color: white;
}

[data-bg-color="black"]{background-color: black;}
[data-bg-color="grey"]{background-color: grey;}
[data-bg-color="blue"]{background-color: blue;}
[data-bg-color="black"]{background-color: black;}
[data-bg-color="black"]{background-color: black;}
.bgcolor2
.bgcolor3
.bgcolor4
.bgcolor5
.bgcolor6
.bgcolor7
.bgColorGrey

.fontLarge{
	font-size: 20px;
}