[data-text="white"]{
	color: white;
}

[data-bg-color="black"]{background-color: black;}
[data-bg-color="grey"]{background-color: grey;}
[data-bg-color="blue"]{background-color: blue;}
[data-bg-color="turquoise"]{color: #01B7CD;} /* Fargen kunden ønsket til ikoner etc */


body{
	padding-top: 3vw;
}


.fontLarge{
	font-size: 20px;
}