

:root{

--width-box: 250px;

}



.b1 {display: inline-block;
position: relative;
margin: 1vw;
float: left 0%;
width: var(--width-box);
height: 30vw;
padding: 1vw;
border: 3px solid black;
}


.b2 {display: inline-block;
position: relative;
margin: 10px;
float: middle 25%;
width: var(--width-box);
height: 400px;
padding: 10px;
border: 3px solid black;
}


.b3 {display: inline-block;
position: relative;
margin: 10px;
float: right 75%;
width: var(--width-box);
height: 400px;
padding: 10px;
border: 3px solid black;
}


.outline {
border: 15px solid #555;
outline-style: solid;
outline-color: #555;


}



