

:root{

--width-box: 250px;

}

.container{
	display: flex;
	justify-content: center;
}

.b1 {
position: relative;
margin: 1.2vw;
line-height: 2vw;
color: white;
text-shadow:-1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;  
width: var(--width-box);
padding: 1rem;
border: 0.2vw solid black;
}


.b1 > p{
	font-size: 1.2vw;
}
