
.b1 {display: inline-block;
position: relative;
margin: 10px;
float: left 0%;
width: 350px;
height: 250px;
border: 3px solid black;
}


.b2 {display: inline-block;
position: relative;
margin: 10px;
float: middle 25%;
width: 350px;
height: 250px;
border: 3px solid black;
}


.b3 {display: inline-block;
position: relative;
margin: 10px;
float: right 75%;
width: 350px;
height: 250px;
border: 3px solid black;
}


.b4 {display: inline-block;
position: relative;
margin: 10px;
float: left 0%;
width: 350px;
height: 250px;
border: 3px solid black;
}


.b5 {display: inline-block;
position: relative;
margin: 10px;
float: middle 25%;
width: 350px;
height: 250px;
border: 3px solid black;
}

.b6 {display: inline-block;
position: relative;
margin: 10px;
float: right 75%;
width: 350px;
height: 250px;
border: 3px solid black;
}

.b7 {display: inline-block;
position: relative;
margin: 10px;
float: left 0%;
width: 350px;
height: 250px;
border: 3px solid black;
}

.b8 {display: inline-block;
position: relative;
margin: 10px;
float: middle 25%;
width: 350px;
height: 250px;
border: 3px solid black;
}

.b9 {display: inline-block;
position: relative;
margin: 10px;
float: right 75%;
width: 350px;
height: 250px;
border: 3px solid black;
}



