
/* Root variabler */
:root{
    /* Header/nav bar */
	--nav-height-minus: -8rem;

    /* Color */
    --navy-blue: #000033;
    --light-blue: #70a6ff;
    --black-transparent: rgba(0,0,0,0.5);
    --light-grey: #F7F7F7;
}

[data-font="white"]{color: white;}

[data-bg-color="navy"]{background-color: var(--navy-blue);color: white;}
[data-bg-color="Teal"]{background-color: var(--light-blue);}

/* Caption text */
[data-text-middle] {
  display: flex;
  color: rgb(255, 254, 254);
  font-size: 2.5vw;
  position: absolute;
  top: 5vw;
  text-align: center;
  text-shadow:-1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;  

}

.Box1 > h3 {
    font-size: 2vw;
}

.BoxContainer{
    top: -13vw;
    z-index: -1000;
    display: flex;
    justify-content: center;
    margin-left: -10vw;
    position: relative;
}


.Box1 > p{
    font-size: 1.2vw;
    line-height: 2vw;
}

.Box1{
    padding: 1.2vw;
    background-color:rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    width: 25vw;
    height: 34vw;
    margin-top: 30vw;
    margin-left: 10vw;
    color: white;
}

.Box2{
    height: 30vw;
}

[data-text-icons] {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    color: #E0E0E0;
    position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
    text-shadow:-1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1px 1px 0 #000;  
     
  }

/* Data attribute that makes img/video cover the screen*/
[data-fullscreen]{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50vw;
}


 /* Hides the dropdown menu until it is activated by a query*/
.dropWrapper {
    display: none;
}

/* img and video after a section tag covers the whole screen */
section > img,
section > video{
    /* Visning: */
    display: flex;
    object-fit: cover;
    object-position: center;

    /* Dimensjoner: */
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

    /* Posisjon: */
    position: absolute;
    top: 0;
    left: 0;

    /* Synlighet: */
    z-index: -1;
}
/* img and video css end */

/* Skaper en fin overlay som gjør fargen mørkere eller lysere */
[data-overlay]::after{
    /* Visning: */
    display: flex;
    content: "";
    z-index: -1;

    /* Dimensjoner: */
    min-width: 100%;
    min-height: 100%;

    /* Posisjon: */
    position: absolute;
    top: 0;
    left: 0;
}
[data-overlay="dark"]::after{background-color: rgba(0, 0, 0, 0.3);}
[data-overlay="light"]::after{background-color: rgba(255, 255, 255, 0.3);}
/* Overlay css end */

/* Nav bar settings */
nav > div > ul {
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B1820;
    position: fixed;
    top: 0;
    width: 100%;
}

nav > div > ul > li {
    float: left;
}



/* Flytter den siste navigasjons knappen mot venstre */
nav > div > ul > li:last-child {
    float: right;
}

nav > div > ul > li a {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

}


.active {
    background-color: #5b749e;
    color: white;
}

nav > div > ul > li a:hover:not(.active) {
    background-color: #70a6ff;
    color: white;
    text-decoration: none;
}


body{
    background-image: url("../../../rsc/img/BackgroundImage.JPG");
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ikon informasjon & navigasjon */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }



a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 1vw;
}




a:hover{
    color: #718fa9;
    display: inline-block;
    transition-property: color;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}


.navbar{
    display: none;
}

.dropdown{
    display: none;
}

   /* Mobile devices portrait */
   @media (min-width: 1px) and (max-width: 764px) and (orientation: portrait)  {



    /* MAIN CONTENT */

    .BoxContainer{
        display: flex;
        top: -13vw;
        flex-direction: column;
        z-index: -1000;
        display: flex;
        margin-left: -10vw;
    }


    .Box1{
    padding: 1.2vw;
    text-align: center;
    width: 50vw;
    height: 130vw;
    margin-top: 90vw;
    margin-left: 10vw;
    }



    .Box2{
        height: 10vw;
    }

.Box1 > p{
    font-size: 3vw;
    line-height: 5vw;
}

.Box1 > h3 {
    font-size: 8vw;
}



 /* WELCOME TO WILAW TEXT */
[data-text-middle] {
    display: flex;
    margin-top: 20vw;
    justify-content: center;
    top: 5vw;
  
  }
  







    /* DROPDOWN MENU */

/* Dropdown Button */

.dropdown {
    display: flex;
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
    /* DROPDOWN MENU END */


    /* Nav bar settings */
nav > div > ul {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 10;
    width: 100%;
    left: 0;
}

nav > div > ul > li > a {
    display: none;
}




/* Caption text */
[data-text-middle] {
    font-size: 7vw;
    bottom: 95%;
    width: 100%;
  
  }

  [data-text-icons] {
    bottom: 55%;
    width: 100%;
     
  }

/* Flytter den siste navigasjons knappen mot venstre */
nav > div > ul > li:last-child {
    float: right;
}

nav > div > ul > li a {
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2rem;

}

.active {
    background-color: #5b749e;
    color: white;
}

nav > div > ul > li a:hover:not(.active) {
    background-color: #70a6ff;
    color: white;
}

}
     /* Mobile devices portrait */
   @media (min-width: 900px) and (max-width: 1300px) and (orientation: portrait){
       
   }
