

	.en {
		border: 1px solid black;
		width: 30rem;
		padding: 10px;
		margin: 25px;
		padding-bottom: 5rem;
		margin-left: 24rem;


	}


	img {
		height: 6rem;
		width: 5rem;
		float: left;
		margin-right: 0.5rem;
		margin-left: 0.1rem;

	}
	.fnavn {
		margin-left: 100px;
		font-family: "Times New Roman", Times, serif;
		font-size: 20px;
		color: blue;

	}
	.le {
		margin-left: 100px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;

	}
	.button {
		background-color: #01B7CD;
		border-radius: 0.4rem;
		color: white;
		text-align: center;
		float: left;
		display: inline-block;
		font-size: 0.8rem;
		padding: 0.9rem 1.2rem;
		margin: 0.5rem 0.1rem;
		cursor: pointer;

	}
	span{
		padding-top: 5px;
		float: right;
		cursor: pointer;
	}
	.checked {
		color: orange;
	
	}

		.modal {
		display: none;
		position: fixed;
		padding-top: 200px;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
	}
	.modal-content{
		background-color: gray;
		margin: auto;
		padding: 20px;
		border: 1px solid black;
		width: 80%
	}
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 25px;
		font-weight: bold;
	}