	.BoxL {
		border: 1px solid black;
		width: 35rem;
		padding: 1rem;
		padding-bottom: 5rem;
		background-color: rgba(161, 160, 160, 0.336);
		border-radius: 0.4rem;
		margin: auto;
		margin-bottom: 1rem;
		margin-top: 1rem;
		font-weight: 700;
	}


	.BoxL > .Law{
		text-shadow:-1.5px -1.5px 0 #000, 1px -0.1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
		font-size: 1.5vw;
		line-height: 1.5vw;
	}

 
	img {
		height: 6rem;
		width: 5.1rem;
		float: left;
		margin-right: 0.5rem;
		margin-left: 0.1rem;
		border-radius: 0.4rem;

	}
	.fnavn {
		text-shadow: none;
		margin-left: 100px;
		font-family: "Times New Roman", Times, serif;
		font-size: 2vw;
		line-height: 3vw;
		color: rgb(77, 95, 168);
		font-weight: 900;
		text-shadow:-0.2px -1.3px 0 #000, 1px -1px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;  

	}
	.Law {
		margin-left: 100px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: white;

	}
	.button {
		background-color: #0b2653;
		color: white;
		float: left;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		font-size: 1vw;
		outline:none
	}
	

	span{
		padding-top: 5px;
		float: right;
		cursor: pointer;
	}
	.checked {
		color: orange;
	
	}

	.buttonLink{
		color: white;
	}