	.lawyers {
		background-color: #bec8d8;
	}

	.en {
		border: 1px solid black;
		width: 30rem;
		padding: 10px;
		margin: 25px;
		padding-bottom: 5rem;
		margin-left: 24rem;
		background-color: #5c6c79;
		border-radius: 0.4rem;


	}

 
	img {
		height: 6rem;
		width: 5rem;
		float: left;
		margin-right: 0.5rem;
		margin-left: 0.1rem;

	}
	.fnavn {
		margin-left: 100px;
		font-family: "Times New Roman", Times, serif;
		font-size: 20px;
		color: #01B7CD;

	}
	.le {
		margin-left: 100px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: white;

	}
	.button {
		background-color: #01B7CD;
		border-radius: 0.4rem;
		color: white;
		text-align: center;
		float: left;
		display: inline-block;
		font-size: 0.8rem;
		padding: 0.9rem 1.2rem;
		margin: 0.5rem 0.1rem;
		cursor: pointer;

	}
	span{
		padding-top: 5px;
		float: right;
		cursor: pointer;
	}
	.checked {
		color: orange;
	
	}