/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.LoginButtonSelf {
    background-color: #1f52a5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    width: 50%;
    margin-left: 4.5vw;
    font-weight: 900;
    font-size: 1vw;
    outline:none
}

login > button:hover {     
    background-color:#3BABDB;    
}

login > button:focus {     
    background-color:#297799;    
}


/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 1px;
}

a{
    color: black;
}



/* Add padding  */
#LoginInnhold {
    display: flex;
    flex-direction: column;
    width: 20vw;  
    margin-top: 1vw;
    margin-left: 40vw;
    background-color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 8px 23px 0 rgba(0, 0, 0, 0.39);
    border-style: solid;
    border-left: none;
    border-top: none;
}

#RegisterInnhold {
    display: none;
    flex-direction: column;
    margin-top: 1vw;
    width: 20vw;  
    margin-left: 40vw;
    background-color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 8px 23px 0 rgba(0, 0, 0, 0.39);
    border-style: solid;
    border-left: none;
    border-top: none;
}


#MainHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7vw;  
    margin-top: 10vw;
    margin-left: 46vw;
    background-color: #ADC17E;
    border: none;
    border-radius: 15px 50px 30px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 8px 23px 0 rgba(0, 0, 0, 0.39);
}

#Top{
    display: flex;
    background-color: #ADC17E;
}

#Top2{
    display: none;
    background-color: #ADC17E;
}


.LoginHeader{
margin-top: 2vw;
margin-left: 6vw;
font-weight: 900;
}

.RegisterHeader{
    margin-left: 5vw;
    margin-top: 1vw;
    font-weight: 900;
    font-size: 2vw;
    }

.innhold > p{
    font-weight: 400;
    margin-left: 6vw;
}





#Login{
    margin-left: 1vw;
    margin-right: 1vw;
}
#Register{
    display: none;
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
}


/* Knapper */ 
#LoginButton {
    display: none;
    background-color: #1f52a5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px 50px 30px;
    cursor: pointer;
    font-size: 1vw;
    outline:none
  }

#LoginButton:hover{
    background-color: #34a1cf;
}

#RegisterButton {
    display: flex;
    background-color: #1f52a5;
    color: white;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 15px 50px 30px;
    cursor: pointer;
    font-size: 1vw;
    outline:none
  }

  #RegisterButton:hover{
    background-color: #34a1cf;
}

#Register > p{
    font-size: 0.7vw;
}

b{
    font-size: 1vw;
}