
html { height: 100%; }
body {
    min-height: 100%;
    position: relative;
    
    background-color: #bec8d8;
}

.accordionq {

	
	background: none;
	text-align: left;
	color: white;
	text-shadow:-1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;  
	cursor: pointer;
	margin-left: 20%;
	margin-right: 20%;

	width: 60%;
	font-size: 1.7vw;
	padding-top: 1vw;
	padding-bottom: 1.5vw;
	margin-top: 0;
	margin-bottom: 0;
	outline: none;
	border: none;
}

p > a {
	color:blue;
}

.accordionq:hover{
	font-size: 2vw;
}

.panelq {
	background: none;
	color: white;
	text-shadow:-1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;  
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1vw;
	padding-bottom: 1.5vw;
    display: none;
	overflow: hidden;
}

.panelq > p{
font-size: 1.3vw;
line-height: 2.5vw;
}

.overskrift {

	color: white;
	text-shadow:-1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;  
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	
	
}

.accordionq:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
	}

.actived:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

hr {
	display:block;
	border-style: inset;
	margin-left: 20%;
	margin-right: 20%;

}

form {
    margin-left: 30%;
    margin-right: 30%;
    border: none;
    


}

.QuestionSubmit{
    background-color: #0b2653;
    color: white;
    margin-top: -20vw;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    outline:none
}


textarea {
    height: auto;
    width: 98%;

}

.footer {
    position: relative;
    width: 100%;
    background-color: #0B1820;
    height: 11%;
    color: white;
}

.footeroverskrift {
 margin-left: 10%;

}