
html { height: 100%; }
body {
    min-height: 100%;
    position: relative;
    
    background-color: #bec8d8;
}

.accordionq {

	
	
	text-align: left;
	background-color: #bec8d8;
	color: #444;
	cursor: pointer;
	margin-left: 20%;
	margin-right: 20%;

	width: 60%;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 0;
	outline: none;
	border: none;



}

.accordionq:hover{
	font-size: 27px;
}

.panelq {
	
	
	
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: #bec8d8;
    
    display: none;
    overflow: hidden;
    

   


}

.overskrift {

	
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	
	
}

.accordionq:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;

	}

.actived:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

hr {
	display:block;
	border-style: inset;
	margin-left: 20%;
	margin-right: 20%;

}

form {
    margin-left: 30%;
    margin-right: 30%;
    border: none;
    


}



textarea {
    height: auto;
    width: 98%;

}

.footer {
    position: absolute;
    width: 100%;
    
    background-color: #555555;
    height: 11%;
    color: white;
    

}

.footeroverskrift {
 margin-left: 10%;

}